{include file='common/head'}
<div class="page-overlay">
    <span class="overlay-1"></span>
    <span class="overlay-2"></span>
</div>

<div class="page-wrapper">

    <!-- START: CONTACT -->
    <section class="section section-light section-contact" id="contact">
        <div class="container">
            <div class="section-head">
                <span>say Hello</span>
                <h2>Contact </h2>
            </div>

            <div class="contact-map mt-5">
                <h5 class="section-subHead mb-4"> My Location</h5>

                <div class="box">
                    <div id="container2"></div>
                    
                </div>
                <input type="text" id="title" value="{$contact.title}" style="display: none;">
                <input type="text" id="X" value="{$contact.coordinateX}" style="display: none;">
                <input type="text" id="Y" value="{$contact.coordinateY}" style="display: none;">
                <input type="text" id="address" value="{$contact.address}" style="display: none;">
                <input type="text" id="phone" value="{$contact.phone}" style="display: none;">
                <style>


                    .box { width: 100%; height: 600px; margin: 40px 0; }
                    #container1,  #container2 { width: 100%; height: 100%; }
                    #container3 { width: 80%; height: 100%; }
                    .list { width: 20%; height: 100%; background: #eee; }
                    .list li { height: 34px; line-height: 34px; padding-left: 20px; }
                    .list li.active a { color: red; }
                    .title { font-size: 14px; font-weight: bold; color: #cc5522; }
                    .content { font-size: 13px; color: #333; margin-top: 0px; }
                    .fl { float: left; }
                </style>
                <script src="__CDN__/static/js/jquery-1.10.2.js"></script>
                <script src="http://api.map.baidu.com/api?v=2.0&ak=n4lNHkWG8cPPGEyGUt24GMrx8dgbTwGP"></script>
                <script src="__CDN__/static/js/jquery.baiduMap.min.js"></script>
                <script type="text/javascript">
                    var title = $('#title').val();
                    var X = $('#X').val();
                    var Y = $('#Y').val();
                    var address = $('#address').val();
                    var phone = $('#phone').val();

                    var points = [{
                        id: 1,
                        lng: X,
                        lat: Y,
                        title: title,
                        content: ["地址:"+address, "电话："+phone]
                    }];
                    new BaiduMap({
                        id: "container2",
                        level: 18,
                        type: ["地图", "卫星"],
                        width: 320,
                        height: 70,
                        titleClass: "title",
                        contentClass: "content",
                        showMarkPanorama: true,
                        mapStyle: "light",
                        icon: {
                            url: "__CDN__/static/images/map/marker.png",
                            width: 25,
                            height: 96
                        },
                        centerPoint: { // 地图中心点经纬度
                            lng: X,
                            lat: Y
                        },
                        index: 0,
                        points: points
                    });

                </script>

            </div>

        </div>

        <div class="contact-Otherdetails section-dark">
            <div class="container">
                <div class="contact-details mt-5">
                    <h5 class="section-subHead pt-5 mb-4"> 联系方式</h5>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="contact-details--panel p-4 b-box text-center hover-state wow fadeInUp" data-wow-duration="1.5s">
                                <div class="mb-3">
                                    <i class="lni-mobile"></i>
                                </div>
                                <div class="mt-2">
                                    <a href="tel:{$contact.phone}" class="">{$contact.phone}</a>
                                    <p class="mt-2">打给我</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="contact-details--panel p-4 b-box text-center hover-state wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
                                <div class="mb-3">
                                    <i class="lni-envelope"></i>
                                </div>
                                <div class="mt-2">
                                    <a href="{$contact.email}">{$contact.email}</a>
                                    <p class="mt-2">发邮箱</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- END: CONTACT -->


    {include file='common/footer'}
